@media  (max-width: 470px) {
.hero-buttons{
    margin-top: 8vw;
    margin-bottom:2vw;
}
.hero_btn{
    height: 10vw;
    width: auto;
    color: crimson;
    border: .2vw solid transparent;
    margin-right: 3vw;
    font-size: 5vw;
    font-family: Kollektif;
    font-weight: 600;
    padding: .5vw 2vw 1vw 2vw;
    border-radius: 4vw;
    box-shadow: 2px 2px 20px crimson;
    text-decoration: none;
    align-items: center;
}
.socialIcon{
    color: antiquewhite;
    font-size: 7vw;
    margin-left: 5vw;

    
}
.hero-des{
    margin-bottom: 4vw;
}

}