.skills_cs {
  width: 48%;
}
.skills h1 {
  text-align: center;
  color-interpolation-filters: crimson;
}
.softskills {
  font-family: Kollektif;
  color: aliceblue;
  width: 10vw;
  height: 10vw;
  border: 1vw solid aliceblue;
  border-radius: 50%;
  box-shadow: 4px 3px 30px rgb(195, 29, 65);
  
}
.softentity{
  padding-right: 4vw;
  text-align: center;
}
.softentity h3 {
  margin-top: 2vw;
  font-size: 1.6vw;
}
.skills_cs {
  width: 48%;
  padding: 6vw;
  font-family: Kollektif;
  color: aliceblue;
}
.skills_cs h2 {
  font-size: 2vw;
  text-align: start;
}

.skills_soft {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 9vw;
  padding: 3vw;
}

.skills-body {
  display: flex;
  justify-content: space-evenly;
}
.progress-bar {
  margin: 1vw 0 1vw 0;
  height: 0.8vw;
  width: 36vw;
  background-color: grey;
  border-radius: 3vw;
}
.progress-bar div {
  
  border-radius: 3vw;
}

.progress-bar div span {
  height: 2vw;
  width: 2vw;
  font-size: 0.8vw;
  border-radius: 1vw;
  background-color: aliceblue;
  justify-content: center;
  display: flex;
  align-items: center;
  color: black;
  float: right;
  margin-top: -10px;
  margin-right: -20px;
  font-weight: 700;
}
